.broker-badge {
  max-width: 15rem;
  border: 1px solid #007bff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f8f9fa;
  font-size: 8px;
}

.broker-badge-image {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #007bff;
  display: inline-block;
}

.broker-badge-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .broker-badge {
    font-size: 8px;
    justify-content: center!important;
    align-items: center!important;
    justify-items: center!important;
  }

  .broker-badge-image {
    width: 50px;
    height: 50px;
  }

  .broker-badge .textBroker {
    text-align: center; 
    justify-content: center!important;
    align-items: center!important;
    justify-items: center!important;
  }
}