.masterform {
    padding: 2rem;
}

.header {
    text-align: center;
    margin-bottom: 1rem;
}

.header h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form-container {
    max-width: 40%;
    height: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px  29px 0px;
}

.form-container form {
    max-width: 600px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 2rem;
}

.inputs-container {
    min-height: 180px;
}

label {
    font-weight: bold;
    color: #777;
    font-size: 0.8rem;
}

input, textarea {
    padding: .6rem;
    border: none;
    border-radius: 3px;
    height: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.actions button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: 3px;
    background-color: #DFDFDF;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.btn {
    background-color: #0d6efd;
    color: #fff!important;
}
.actions button:hover {
    background-color: #cfcfcf;
}

@media (max-width: 1024px) {
    .masterform {
      padding: 1rem; /* Reduz o padding */
    }
  
    .form-container {
      max-width: 90%; /* Aumenta a largura do formulário */
      margin: 0 auto; /* Centraliza o formulário */
      padding: 1rem; /* Ajusta o padding interno */
      box-shadow: none; /* Remove sombra para simplificar */
      border: 1px solid #ddd; /* Adiciona borda leve para destaque */
    }
  
    .form-control {
      margin-bottom: 1.5rem; /* Espaçamento mais consistente entre inputs */
      width: 100%; /* Inputs ocupam 100% da largura */
    }
  
    .inputs-container {
      min-height: auto; /* Remove restrição de altura para inputs */
    }
  
    .actions {
      justify-content: center; /* Centraliza os botões */
      gap: 0.5rem; /* Reduz o espaçamento entre os botões */
    }
  
    .actions button {
      width: 100%; /* Botões ocupam toda a largura */
      font-size: 1rem; /* Aumenta legibilidade */
    }
  
    .thanks-container h2,
    .thanks-container p,
    .thanks-container h3 {
      font-size: 1.2rem; /* Ajusta o tamanho do texto */
    }
  
    .thanks-container table {
      font-size: 0.9rem; /* Ajusta o tamanho da tabela */
      width: 100%; /* Tabela ocupa toda a largura */
    }
  
    .score-container {
      flex-direction: column; /* Ícones em coluna */
      gap: 2rem; /* Aumenta espaçamento entre ícones */
    }
  
    .score-container svg {
      font-size: 3rem; /* Reduz o tamanho dos ícones */
    }
  }