
  .card {
    width: 22rem;
    margin: 20px;
    padding: auto;
  }
  
   .card-title-h5 {
    background-color: orange;
    padding: 7px;
    font-size: 14px;
  }

  .card-text-comprar {
    font-weight: bold;
    font-size: 14px;
    padding: 7px;
  } 
  