
  .card {
    width: 22rem;
    max-width: 22rem;
    margin: 20px;
    padding: auto;
    max-height: 25rem;
    height: 25rem;
    min-height: 25rem;
  }
  .card-img{
    max-height: 12rem;
    max-width: 22rem;
    height: 12rem;
    width: 22rem;
  }
   .card-title-h5 {
    background-color: orange;
    padding: 7px;
    font-size: 14px;
  }

  .card-text-comprar {
    font-weight: bold;
    font-size: 14px;
    padding: 7px;
    margin-left: 10px;
  } 

  .page-container {
    width: 100%;
    overflow-x: hidden;
    padding: 0 15px;
    min-height: 53vh;
}

.faded-card {
  opacity: 0.5;
  transition: opacity 0.3s;
}

@media (max-width: 1024px) {
  .card {
    width: 90%;
    max-width: 55%;
    margin: 10px auto;
    height: auto;
  }

  .card-img {
    max-height: 10rem;
    height: 10rem;
    max-width: 100%;
  }

  .card-title-h5,
  .card-text-comprar {
    font-size: 12px;
  }

  .card-body {
    justify-items: start;
    margin: 0!important;
    /* padding: auto; */
    padding: 0!important;

  }

  .card-img-overlay {
    margin: 0!important;
    padding: 0!important;
  }

  .d-flex > p {
    margin-right: 10px;
  }

  .text-primary {
    font-size: 14px!important;
    padding: 0!important;
    margin: 0!important;
  }
}

@media (max-width: 1024px) {
  .row.my-4 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .row.my-4 h2 {
    font-size: 20px;
    margin-bottom: 10px;
    padding-right: 12%;
  }

  .row.my-4 a {
    width: 90%;
    text-align: center;
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .main-content {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}
