
  .card {
    width: 22rem;
    margin: 20px;
    padding: auto;
    max-height: 25rem;
    height: 25rem;
  }
  .card-img{
    max-height: 12rem;
    max-width: 22rem;
  }
   .card-title-h5 {
    background-color: orange;
    padding: 7px;
    font-size: 14px;
  }

  .card-text-comprar {
    font-weight: bold;
    font-size: 14px;
    padding: 7px;
  } 

  .page-container {
    width: 100%;
    overflow-x: hidden; /* Esconde o scroll horizontal */
    padding: 0 15px; /* Adiciona padding lateral */
}
