
.hero-image {
    background-image: url('../../../assets/images/condo_3.webp'); /* Substitua pelo caminho da sua imagem */
    height: 100vh; /* Altura de 100% da viewport */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;
  }
  
 
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-title {
    font-size: 5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px white;
  }

  .hero-subtitle {
    font-size: 1rem;
    /* margin-bottom: 20px; */
    color: white;
  }
/* 
  .card-img {
    height: 15rem;
    object-fit: cover;
  } */
  /* .card-body {
    height: 13rem;
  } */
  
  .card {
    width: 20rem;
    padding: auto;
  }

