@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}


.boxFormLogin {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.formLogin {
  height: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.logLogin {
  text-decoration: none;
  color: rgb(24, 159, 238);
  text-align: center;
} 

.logLogin > a,
.error {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  color: rgb(24, 159, 238);
}

.boxFormLogin > h1 {
  font-weight: 460;
  font-size: 4rem;
  line-height: 1.5;
  margin-right: 350px;
  color: rgb(24, 159, 238);
}

.boxFormLogin > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin-right: 150px;
  color: rgb(24, 159, 238);
  width: 45%;
}

.formLogin > h3 {
  margin-top: 100px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  color: rgb(24, 159, 238);
}

.imageLogin {
  width: 100%;
  height: auto;
  justify-content: center;
  background-size: cover;
  background-image: url("../../assets/images/aimoblogo_azul.png");
  display: flex;
}

/* input{
  border: 1px solid rgb(24, 159, 238);
  border-radius: 46px;
  box-sizing: border-box;
  background-color: transparent;
  width: 100%;
  padding: 15px;
  color: rgb(24, 159, 238);
  outline: none;
}

input::placeholder {
  color: rgb(24, 159, 238);
} */

.btnLogin {
  width: 80%;
  height: 40px;
  color: white;
  background: #0B58A6;
  border: 1px solid #145bad;
  border-radius: 46px;
}

button:hover {
  cursor: pointer;
}

#userLogin,
#passwordLogin {
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  background-position: 95%;
  color: rgb(24, 159, 238);
  border: 1px solid rgb(24, 159, 238);
  border-radius: 46px;
  box-sizing: border-box;
  background-color: transparent;
  width: 105%;
  padding: 15px;
  display: flex;
  margin-bottom: 10px;
}

#passwordLogin::placeholder,
#userLogin::placeholder {
  color: rgb(24, 159, 238);
}

/* Adaptações para telas menores */
@media (max-width: 768px) {
  .containerLogin, p, h1{
    padding: 10px;
    text-align: center;
  }

  .ola {
      margin-left: 300px;
  }

  input,
  select,
  button {
    padding: 12px;
  }

  .btnLogin {
    height: 40px;
  }
  .textCabecalho {
    text-align: left;
    margin: 0;
  }
}
