
.pesquisa {
    padding-left: 1.5rem;
    height: auto;
    /* width: 70%; */
    border: 1px solid #0d6efd;
  }
  .searchIcon {
    position: relative;
  }
  .searchIcon svg {
    position: absolute;
    padding: auto;
    background-color: #0d6efd;
    max-width: 5%;
    height: 100%;
  }
  
  .searchIcon:focus-within svg {
    visibility: hidden;
  }
  