@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body {
  font-family: "Poppins", sans-serif;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: white; 
}

.icon-large-white {
  color: white !important;
}

.no-hover:hover {
  background-color: transparent !important;
  opacity: 0.7;
}

.no-hover:focus {
  background-color: transparent !important;
  opacity: 0.9;
}

#imgConfig{
  margin-left: 7px;
}

  @media only screen and (max-width: 1199px) {
    li {
      padding-left: 1rem;
    }
  }
  