.image-card {
    height: 30rem;
    width: auto;
    object-fit: cover;
    
  }
  div#carouselExampleCaptionsReal {
    padding: 0!important;
}


  .card-secondary {
    padding: 0!important;
}

@media (max-width: 1024px) {
 #deletebtn {
  margin: 0px!important;
 }
}