@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.containerRegister {
  display: flex;
  min-height: 100vh;
  background-color: #0B58A6;
}

.boxFormRegister {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formRegister {
  width: 100%;
  max-width: 406px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

p > a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.textoCabecalho > h1 {
  font-weight: 500;
  font-size: 3.5rem;
  color: white;
  text-align: center;
  margin-right: 310px;
}

.textoCabecalho > p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
  margin-right: 140px;
}
.textoCabecalho {
  gap: 0;
}

.formRegister > h3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
}

.log {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: white;
}

.image {
  width: 100%;
  justify-content: center;
  background-size:contain;
  background-image: url("../../assets/images/aimoblogo_branco.png");
  display: flex;
}

.btnRegister  {
  width: 100%;
  height: 52px;
  background: #ffff;
  border: 1px solid blue;
  border-radius: 60px;
  color: #0B58A6;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
.errors > input {
  border-color:1px solid #e9b425;
  margin-bottom: 0px;
}

.classErrors {
  font-size: 16px;
  color: white;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .formRegister {
    padding: 10px;
  }

  input, select {
    padding: 12px;
  }

  .btnRegister  {
    height: 40px;
  }
}

@media (min-height: 1000px) {
  input, button {
    padding: 19px 24px;
    height: 62px;
  }
}

/* #email, #password, #name, #user, #cpf, #city, #phone, #creci, #passwordTwo {
  border-radius:45px;
} */